@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    font-family: 'Poppins', sans-serif;
    background-image: url("./../images/bg-intro-mobile.png");
    background-color: rgb(255, 122, 122);
    color: white;
    font-size: 16px;
    margin: auto;
    height: 98vh;
}

header {
    margin-top: 2rem;
    text-align: center;
    padding: 1.5rem;
}

.tryit {
    background-color: hsl(248, 32%, 49%);
    padding: 1.25rem 4.375rem;
    text-align: center;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.438rem 0.125rem rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.formulario {
    background-color: white;
    margin-top: 1.5rem;
    border-radius: 8px;
    box-shadow: 0rem 0.438rem 0.125rem rgba(0, 0, 0, 0.205);
    padding: 2.2rem;

}

form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.textform {
    display: flex;
    color: #F0787A;
    font-size: 0.65rem;
    font-weight: bold;
    font-style: italic;
    justify-content: flex-end;
    margin-top: -0.625rem;
}

.material-icons-outlined {
    color: #F0787A;
}

input {
    width: auto;
    height: 3.5rem;
    border-radius: 0.313rem;
    border: 1px solid hsl(246, 25%, 77%);
    padding: 0rem 1.25rem;
    font-weight: 700;
    color: #F0787A;
    font-size: 1rem;
    outline: none;
    
}

.submit {
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0rem 0.438rem 0.125rem #55B78D;
    border: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}

.rodape {
    text-align: center;
    color: hsl(246, 25%, 77%);
    font-size: 0.85rem;

}

a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: bold;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 968px) {
    body {
        max-width: 1440px;
    }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4rem;
        }
    
        header {
            font-size: 1.3rem;
            max-width: 35%;
            text-align: center;
        }

        .texto1 {
            font-size: 1rem;
        }

        footer {
            margin-top: 0.5rem;
        }
}
